apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tracker.fullname" . }}
  labels:
    {{- include "tracker.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "tracker.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "tracker.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.http.port }}
              protocol: TCP
            - name: metrics
              containerPort: {{ .Values.service.metrics.port }}
              protocol: TCP
            - name: grpc
              containerPort: {{ .Values.service.grpc.port }}
              protocol: TCP
          #livenessProbe:
          #  httpGet:
          #    path: /status
          #    port: metrics
          #readinessProbe:
          #  httpGet:
          #    path: /status
          #    port: metrics
          env:
            - name: DB_HOST
              value: {{ .Values.env.db.host | quote }}
            - name: DB_PORT
              value: {{ .Values.env.db.port | quote }}
            - name: HTTP_PORT
              value: {{ .Values.service.http.port | quote }}
            - name: GRPC_PORT
              value: {{ .Values.service.grpc.port | quote }}
            {{- if .Values.env.jira.domain }}
            - name: JIRA_DOMAIN
              value: {{ .Values.env.jira.domain | quote }}
            {{- end }}
            {{- if .Values.env.jira.projectKey }}
            - name: JIRA_PROJECT_KEY
              value: {{ .Values.env.jira.projectKey | quote }}
            {{- end }}
          command:
            - ./tracker
            - serv
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
