{{- if (.Values.gateway.enabled) -}}
{{- $fullName := include "tracker.fullname" . -}}
{{- $svcPort := .Values.service.http.port -}}
{{- $pathType := default "PathPrefix" .Values.gateway.pathType -}}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  {{- with .Values.gateway.annotations }}
  annotations:
    {{- toYaml . | nindent 4}}
  {{- end }}
  labels:
    {{- include "tracker.labels" . | nindent 4 }}
  name: {{ $fullName }}
spec:
  hostnames:
    {{- range .Values.gateway.hosts | uniq }}
    - {{ .host | quote }}
    {{- end }}
  parentRefs:
    - kind: Gateway
      name: {{ .Values.gateway.name }}
      namespace: {{ .Values.gateway.namespace | default .Release.Namespace }}
  rules:
    - matches:
      {{- $paths := list -}}
      {{- range .Values.gateway.hosts -}}
        {{- range .paths | default (list (dict "path" "/")) -}}
        {{- $paths = append $paths .path -}}
        {{- end -}}
      {{- end -}}
      {{- range $paths | uniq }}
      - path:
          type: {{ $pathType }}
          value: {{ . }}
      {{- end }}
      backendRefs:
      - name: {{ $fullName }}
        port: {{ $svcPort }}
{{- end }}
